body { background: #bfbfbf !important;}
#bidderimage{
  margin-left: 110px;
  margin-bottom: 10px;
}

#bidder1{
  border-right: 1px solid #444;
  border-bottom: 1px solid #444;
}

#bidder2{
  border-right: 1px solid #444;

}

#table1{
  margin-top: 35px;
}

#table1 button{
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 25px;

}

#downmenu li{
  margin-bottom: 10px;
  margin-left: 10px;
}

#userdetails li{
  margin-bottom: 15px;
}
